* {
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    background-image: url(https://cdn.wallpapersafari.com/58/60/3QEmqC.gif);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-shadow: 0 0 5px #6e0000;
    font-size: 12px;
}

body {
    height: 100%;
    width: 50%;
    background-color: black;
    margin: auto;
    color: rgb(224, 176, 15);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    vertical-align :middle;
}

img {
    max-width: 70%;
    height: auto;
}

header {
    font-size: 30px;
}

#biohazard {
    transition: 3s ease-in-out;
}

#biohazard:hover {
    transform: rotate(360deg);
}

h1 {
    font-size: 32px;
    padding: 0;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    transition-duration: 1s;
}

h2 {
    font-size: 22px;
}

h1:hover {
  letter-spacing: 4px;
}
