* {
    margin: 0;
}

html {
    height: 70vh;
    width: 70vw;
    background-image: url(http://cdn.lowgif.com/full/a44448468d739d25-super-famicom-gif-find-share-on-giphy.gif);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 0 0 5px #1c066d;
    
}

body {
    height: 100%;
    width: 60%;
    background-color: black;
    margin: auto;
    color: white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    vertical-align :middle;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    font-size: 30px;
}

#pata {
    transition: 3s ease-in-out;
}

#pata:hover {
    transform: rotate(360deg);
}